//breakpoint
$breakpointMax: 1280px;
$breakpointMin: 890px;

$pageWidth: 860px;
$maxWidth: 1200px;

//color
$baseFontColor: #030303;
$backgroundColor: white;
$gray: #aaaaaa;
$blue: #26B0EB;
$purple: #e4deea;